<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shasly.goods.mapper.GoodsMapper">
    <insert id="insertGoodsType">
        INSERT INTO goods_type(name,level,pid)
        VALUES (#{name},#{level},#{pid})
    </insert>
    <insert id="insertGoods">
        INSERT INTO goods (name, picture, price, intro, tid_1, tid_2, tid_3)
        VALUES (#{name},#{picture},#{price},#{intro},#{tid_1},#{tid_2},#{tid_3})
    </insert>

    <update id="updateGoods" parameterType="com.shasly.common.bean.Goods">
        UPDATE goods
        SET name=#{name},picture=#{picture},price=#{price},intro=#{intro},tid_1=#{tid_1},tid_2=#{tid_2},tid_3=#{tid_3},status=#{tatus}
        WHERE gid=#{gid}
    </update>

    <select id="findGoodsTypeByTId" resultType="com.shasly.common.bean.GoodsType">
        SELECT tid,name,level,pid
        FROM goods_type
        WHERE tid = #{tid}
    </select>
    <select id="findGoodsByTIdAndLevel" resultType="com.shasly.common.bean.Goods">
        SELECT gid,name,picture,price,intro,tid_1,tid_2,tid_3,status
        FROM goods
        <where>
            <if test="level == 1">
                tid_1=#{tid}
            </if>
            <if test="level == 2">
                tid_2=#{tid}
            </if>
            <if test="level == 3">
                tid_3=#{tid}
            </if>
        </where>

    </select>
    <select id="findAllGoodsType" resultType="com.shasly.common.bean.GoodsType">
        SELECT tid,name,level,pid
        FROM goods_type
    </select>
    <select id="findAllGoods" resultType="com.shasly.common.bean.Goods">
        SELECT gid,name,picture,price,intro,tid_1,tid_2,tid_3,status
        FROM goods
    </select>
    <select id="findGoodsDetailsByGId" resultType="com.shasly.goods.vo.GoodsDetails">
        SELECT g.gid,g.name,g.price,g.picture,g.intro,e.star,e.point,e.sales_volume,e.total_collection,e.total_comment
        FROM goods AS g LEFT JOIN goods_evaluate AS e ON g.gid = e.gid
        WHERE g.gid = #{gid} AND status=1
    </select>
    <select id="findGoodsLikeName" resultType="com.shasly.common.bean.Goods">
        SELECT gid,name,picture,price,intro,tid_1,tid_2,tid_3
        FROM goods
        WHERE name LIKE #{name} AND status=1
    </select>
    <select id="findGoodsByGId" resultType="com.shasly.common.bean.Goods">
        SELECT gid, name, picture, price, intro, tid_1, tid_2, tid_3
        FROM goods
        WHERE gid=#{gid} AND status=1
    </select>
    <select id="findUserByUId" resultType="com.shasly.common.bean.User">
        SELECT uid,username,email,phone,status,role
        FROM user
        WHERE uid = #{uid}
    </select>
</mapper>