<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shasly.user.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.shasly.common.bean.User" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid">
        INSERT INTO user(username, salt, password, email, phone, status, role)
        VALUES (#{username},#{salt},#{password},#{email},#{phone},#{status},#{role})
    </insert>
    <insert id="insertUserInfo" parameterType="com.shasly.common.bean.UserInfo">
        INSERT INTO user_info(uid,nickname,profile,activation_code)
        VALUES (#{uid},#{nickname},#{profile},#{activation_code})
    </insert>
    <update id="update" parameterType="com.shasly.common.bean.User">
        UPDATE user SET password=#{password},email=#{email},phone=#{phone},status=#{status},role=#{role}
    </update>

    <update id="activateUser">
        UPDATE user SET status=1 WHERE username=#{username}
    </update>


    <select id="findAll" resultType="com.shasly.common.bean.User">
        SELECT uid, username, email, phone, create_time
        FROM user
    </select>
    <select id="findUserByUId" resultType="com.shasly.common.bean.User">
        SELECT uid, username, salt, password, email, phone, status, role, create_time
        FROM user
        WHERE uid=#{uid}
    </select>

    <select id="findByUsernameAndPassword" resultType="com.shasly.common.bean.User">
        SELECT uid, username, salt, password, email, phone, status, role, create_time
        FROM user
        WHERE username=#{username} AND password=#{password}
    </select>

    <select id="findByUsername" resultType="com.shasly.common.bean.User">
        SELECT uid, username, salt, password, email, phone, status, role, create_time
        FROM user
        WHERE username=#{username}
    </select>
    <select id="findUserActivateByUsername" resultType="com.shasly.common.bean.UserActivate">
        SELECT u.username,u.email,i.activation_code
        FROM user_info i ,user u
        WHERE i.uid = u.uid AND u.username = #{username}
    </select>
    <select id="findUserInfoByUId" resultType="com.shasly.common.bean.UserInfo">
        SELECT * FROM user_info WHERE uid=#{uid}
    </select>

</mapper>