<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shasly.cart.mapper.CartMapper">

    <resultMap id="carlist" type="com.shasly.common.bean.CartList">
        <id property="id" column="cart_id" />
        <result property="number" column="cart_number"/>
        <result property="param" column="cart_param" />
        <association property="goods" column="cart_gid" javaType="com.shasly.common.bean.Goods">
            <id property="gid" column="goods_gid" />
            <result property="name" column="goods_name" />
            <result property="picture" column="goods_picture" />
            <result property="price" column="goods_price" />
            <result property="intro" column="goods_intro" />
        </association>
    </resultMap>

    <insert id="insertCartDetail">
        INSERT INTO cart_detail(cid, gid, number, param)
        values (#{cid},#{gid},#{number},#{param})
    </insert>

    <update id="updateNumberById">
        UPDATE cart_detail SET number = number + #{number}
        WHERE id = #{id}
    </update>
    <update id="updateNumberByCIdAndGId">
        UPDATE cart_detail SET number = number + #{number}
        WHERE cid = #{cid} AND gid = #{gid}
    </update>

    <delete id="deleteById">
        DELETE FROM cart_detail WHERE id = #{id}
    </delete>
    <delete id="deleteByCId">
        DELETE FROM cart_detail WHERE cid = #{cid}
    </delete>


    <select id="getCartListByCid" resultMap="carlist">
        SELECT
          c.id cart_id,
          c.number cart_number,
          c.param cart_param,
          c.gid cart_gid,
          g.gid goods_gid,
          g.name goods_name,
          g.picture goods_picture,
          g.price goods_price,
          g.intro goods_intro
        FROM cart_detail AS c INNER JOIN goods g ON c.gid = g.gid
        WHERE c.cid = #{cid}
    </select>

    <select id="getCidByUid" resultType="java.lang.Integer">
        SELECT cid FROM cart WHERE uid = #{uid}
    </select>
    <select id="findCartDetailByCIdAndGId" resultType="com.shasly.common.bean.CartDetail">
        SELECT id,cid,gid,number,param
        FROM cart_detail
        WHERE cid=#{cid} AND gid=#{gid}
    </select>
</mapper>